<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.ProductsMapper">

    <resultMap id="productsMapper" type="com.tencent.wxcloudrun.model.Product">
        <id property="barCode" column="bar_code"/>
        <result property="name" column="name"/>
        <result property="psn" column="psn"/>
    </resultMap>
    <update id="bind" parameterType="com.tencent.wxcloudrun.model.QrCode">
        INSERT INTO `QrCode`(`qr_code`, `bar_code`, `bind_date`, `producer`)
        VALUE(#{qrCode}, #{barCode}, #{bindDate}, #{producer})
        ON DUPLICATE KEY UPDATE qr_code=#{qrCode}
    </update>

    <update id="saveMakeProduct" parameterType="com.tencent.wxcloudrun.model.MakeProduct">
        INSERT INTO `DayMakeProducts`(`make_date`, `bar_code`, `name`,`make_count`, `make_half_count`, `back_count`, `remark`)
        VALUE(#{makeDate}, #{barCode}, #{name}, #{makeCount}, #{makeHalfCount}, #{backCount}, #{remark})
        ON DUPLICATE KEY UPDATE make_date=#{make_date}
    </update>

    <select id="getProduct" resultMap="productsMapper" parameterType="java.lang.String">
        SELECT `bar_code`, `name`, `psn`
        FROM Products
        WHERE bar_code = #{id}
    </select>

    <select id="getList" resultType="com.tencent.wxcloudrun.model.Product">
        SELECT `bar_code`, `name`, `psn`
        FROM Products
    </select>


</mapper>
