<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.QrCodeMapper">

    <resultMap id="QrCodeMapper" type="com.tencent.wxcloudrun.model.QrCode">
        <id property="qrCode" column="qrCode"/>
        <result property="name" column="name"/>
        <result property="psn" column="psn"/>
        <result property="barCode" column="bar_code"/>
        <result property="bindDate" column="bind_date"/>
        <result property="producer" column="producer"/>
    </resultMap>

    <select id="getQrCode" resultMap="QrCodeMapper" parameterType="java.lang.String">
        SELECT
        p.NAME as name,p.psn as psn ,qr_code, q.bar_code as bar_code, bind_date, producer
        FROM QrCode q
        inner join Products p on q.bar_code = p.bar_code
        WHERE qr_code = #{qrCode}
    </select>



</mapper>
